node_modules
.next
out
build
coverage
playwright-report
test-results
.git
.github
.husky
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
*.md
!README.md
.DS_Store
tsconfig.tsbuildinfo
tsconfig.typecheck.tsbuildinfo
